---

---

<header>
  <video autoplay muted id="background-video" loop>
    <source src="/img/background-header.mp4" type="video/mp4" />
  </video>
  <nav></nav>
</header>

<style>
  #background-video {
    position: absolute;
  }
</style>
