---
import Section from "./ux/Section.astro";
import Title from "./ux/Title.astro";
import CardSectores from "./ux/CardSectores.astro";
---

<Section color="#ffffff">
  <div class="py-10 md:py-0">
    <div class="text-center">
      <Title text_1="Sectores que" text_2="Atendemos" />
    </div>
    <div
      class="flex md:flex-row flex-col items-center justify-center container mx-auto mt-14 gap-24">
      <div class="flex justify-end">
        <img src="./img/img_2.png" alt="" />
      </div>
      <div class="grid grid-cols-1 gap-6">
        <CardSectores
          title="Almacenes"
          body="Mantén un ambiente limpio y sanitizado para una operación eficiente."
          image="./img/icono_1.svg"
        />
        <img src="./img/linea.png" alt="" />
        <CardSectores
          title="Centros comerciales"
          body="Dale una excelente imagen a tus clientes."
          image="./img/icono_2.svg"
        />
        <img src="./img/linea.png" alt="" />
        <CardSectores
          title="Obras de construcción"
          body="Asegúrate de entregar espacios impecables."
          image="./img/icono_3.svg"
        />
        <img src="./img/linea.png" alt="" />
        <CardSectores
          title="Fábricas e industrias"
          body="Mantén un ambiente limpio y sanitizado para una operación eficiente."
          image="./img/icono_4.svg"
        />
      </div>
    </div>
  </div>
</Section>
<style>
  img {
    animation-name: show;
    animation-timeline: --image;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
    view-timeline-axis: block;
    view-timeline-name: --image;
  }
  @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }
    to {
      opacity: 1;
      scale: 100%;
    }
  }
</style>
