---
import Title from "./ux/Title.astro";
import Section from "./ux/Section.astro";
import Buttom from "./ux/Buttom.astro";
---

<Section color="#FFFFFF">
  <div
    class="container max-w-[1280px] mx-auto flex flex-col md:flex-row items-center justify-between p-4">
    <div class="md:w-2/5">
      <Title text_1="¿Qué es el Barrido" text_2="Industrial?" />
      <p class="my-5 text-lg text-gray-500">
        El barrido industrial es un servicio tecnificado para la limpieza de
        grandes superficies como almacenes, estacionamientos, fábricas y obras
        de construcción. Este proceso se realiza con maquinaria avanzada,
        garantizando resultados rápidos, efectivos y con estándares de alta
        calidad.
      </p>
      <Buttom label="Solicitar Cotización" />
    </div>
    <div class="md:w-3/5 flex md:justify-end justify-center py-4">
      <img class="md:w-[80%] w-full" src="./img/img_1.png" alt="" />
    </div>
  </div>
</Section>
<style>
  img {
    animation-name: show;
    animation-timeline: --image;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
    view-timeline-axis: block;
    view-timeline-name: --image;

  }
  @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }
    to {
      opacity: 1;
      scale: 100%;
    }
  }
</style>
