---
import Section from "./ux/Section.astro"
import Title from "./ux/Title.astro"
---
<Section color="#ffffff">
    <div class="container mx-auto text-center">
        <Title 
        text_1="Casos de éxito"
        text_2="Empresas que confían en nosotros"
        >
        </Title>
       
    </div>
</Section>
